body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  position: relative;
}

/*nav bar*/

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  order: 1; 
}

.logo_img {
  width: 100px; 
}

.dropdown {
  display: flex;
  align-items: center;
  order: 2; 
}

.profile {
  margin-left: auto; 
}

.profile_img {
  width: 40px; 
  cursor: pointer;
}

.dropdown_list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_list li {
  padding: 8px;
}

.nav_list a {
  text-decoration: none;
  color: black;
}

.nav_list a:hover {
  background-color: #ddd;
}

.dropdown_list {
  display: flex;
  justify-content: left;
  margin-right: 3px;
  margin-top: 3px;
  padding-right: 3px;
  position: absolute; 
  width: max-content; 
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; 
  right: 0;
  background-color: white;
  border: 2px black solid;
}

.nav_list li {
  padding: 8px;
}

.nav_list a {
  text-decoration: none;
  color: black;
}

.nav_list a:hover {
  background-color: #ddd;
}


.logo{
  width:50%;
} 

.logo_img{
  width: 300px;
  height: 60px;
}

.profile_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.nav_list{
  list-style: none;
}

a{
  text-decoration: none;
}

.nav-login {
  order: 2; 
}

/* .nav-login-button {
  background-color: white;
  border: 2px solid black;
  padding: 8px;
  cursor: pointer;
}

.nav-login-button:hover {
  background-color: #ddd;
} */


/*seach filter*/

.Search_filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.search_input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px; 
}

input,select {
  flex: 1;
  padding: 8px;
}

.salary-range-input {
  display: flex;
}

.salary-range-input input {
  flex: 1;
  padding: 2px;
}

#searchButton,#applyButton,#backButton,.nav-login-button{
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  border-color: black;
}

#searchButton:hover,#applyButton:hover,#backButton:hover,.nav-login-button:hover{
  background-color: #858383;
  border-color: #858383;
}

label{
  display: none;
}

::-webkit-scrollbar{
  background: transparent;
}